.subscribe {
  position: relative;
  flex-direction: column;
  padding: 64px 32px;
  background: rgba(250, 205, 73, 0.08);
  gap: 64px;
  border-radius: 32px;
}

.subscribe .title__container {
  gap: 32px;
}

.subscribe__form {
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  align-items: stretch;
  gap: 32px;
}

.input__text {
  height: inherit;
  width: 100%;
  padding: 24px 80px;
  border-radius: 16px;
  border: 1px solid transparent;
  font-size: var(--fs-xs);
  font-family: "Circular Std";
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: var(--lh-lg);
  color: rgba(25, 24, 37, 0.75);
}

.email__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  left: 32px;
  top: 13%;
}

.btn__subscribe {
  width: 100%;
  padding: 24px 64px;
  font-weight: 700;
  line-height: 120%;
}

.subscribe-graphic-tl,
.subscribe-graphic-br {
  display: none;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .email__icon {
    width: 32px;
    height: 32px;
    top: 30%;
  }

  .subscribe {
    padding: 128px 64px;
    margin-top: 109px;
    margin-bottom: 64px;
  }

  .subscribe__form {
    grid-template-columns: auto min-content;
    grid-template-rows: auto;
  }

  .input__text,
  .btn__subscribe {
    font-size: var(--fs-h6);
    border-radius: 32px;
  }

  .btn__subscribe{
    padding: 32px 64px;
  }

  .subscribe-graphic-tl,
  .subscribe-graphic-br {
    display: block;
  }

  .subscribe-graphic-tl {
    top: -12%;
    left: -3%;
  }

  .subscribe-graphic-br {
    bottom: -4%;
    right: -64px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe .title__container {
    text-align: center;
    align-items: center;
  }

  .subscribe {
    margin-top: 133px;
  }

  .subscribe-graphic-br {
    bottom: -3%;
    right: 0;
  }

  .subscribe__desc {
    font-size: 55px;
  }
}
