.btn__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  font-family: "Circular Std";
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: var(--lh-lg);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
}

.btn--primary {
  padding: 16px 32px;
  color: var(--color-white);
  background-color: var(--color-purple);
}

.btn--secondary {
  padding: 16px 32px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-left {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: var(--color-white);
  align-items: center;
}

.btn-right {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: var(--color-purple);
  align-items: center;
}
