.btn__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  font-family: "Circular Std";
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: var(--lh-lg);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
}

.btn--primary {
  padding: 1rem 2rem;
  color: var(--color-white);
  background-color: var(--color-purple);
}

.btn--secondary {
  padding: 1rem 2rem;
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-left {
  padding: 1.5rem;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: var(--color-white);
  align-items: center;
}

.btn-right {
  padding: 1.5rem;
  border-radius: 100px;
  background: var(--color-purple);
  align-items: center;
}

.btn-left__icon,
.btn-right__icon {
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 768px) {
  .btn-left__icon,
  .btn-right__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-left,
  .btn-right {
    padding: 2.75em;
  }
}
