.header {
  max-width: var(--width-max);
  position: relative;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.header-btn__group {
  display: none;
}

.nav__list {
  display: none;
  padding: 50px;
  top: 5%;
  right: 0px;
  width: 65vw;
  gap: 4rem;
}

.nav__link:hover {
  color: rgba(34, 40, 49, 1);
}

.btn__menu {
  border: none;
  background-color: var(--color-white);
}

.nav-btn__group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

@media screen and (max-width: 1199px) {
  .navbar:hover .nav__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 999;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header-btn__group {
      display: flex;
    }

    .nav-btn__group {
      display: none;
    }

    .navbar {
      order: -1;
    }

    .nav__list {
      left: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    .nav-btn__group {
      display: none;
    }

    .btn__menu {
      display: none;
    }

    .nav__list {
      display: flex;
      flex-direction: row;
      width: auto;
      padding: 0;
    }

    .header-btn__group {
      display: flex;
    }

    .header .navbar .nav__list {
      display: flex;
    }
  }
