.sponsor {
  padding: 2rem 0;
  justify-content: center;
}

.sponsor__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  row-gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.sponsor__img {
  display: block;
  height: 20px;
  width: auto;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .sponsor {
    padding: 4rem 0;
  }

  .sponsor__img {
    width: 100%;
    height: auto;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .sponsor__list {
    width: 100%;
    justify-content: space-between;
  }
}
