/* Mobile first */
.travel-point {
  position: relative;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 0;
}

.ticket__img {
  display: none;
}

.travel-point__content,
.travel-point__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.travel-point__list,
.list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.list__container .item__content {
  display: flex;
  align-self: stretch;
  padding: 2rem;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: var(--color-white);
  flex: 1 0 0;
}

.item__number {
  font-size: var(--fs-h4);
  color: var(--color-orange);
}

.item__desc {
  font-size: var(--fs-m);
  color: var(--color-black);
  white-space: nowrap;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .travel-point {
    padding: 4rem 2rem;
  }

  .travel-point__list {
    gap: 2rem;
  }

  .travel-point__content {
    margin-top: 2.5rem;
    gap: 4rem;
  }

  .list__container {
    flex-direction: row;
    gap: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .travel-point {
    padding: 4rem 0;
    grid-column: 1 / span 2;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0;
  }

  .travel-point__content {
    margin-top: 1.875em;
  }

  .travel-point__desc,
  .title__container {
    text-align: start;
    align-items: start;
  }

  .ticket__img {
    display: flex;
    position: absolute;
    right: 0;
    top: 47%;
    z-index: -1;
  }
}
