:root {
  --width-max: 1184px;

  /* Font size */
  --fs-xxs: 0.4375rem;
  --fs-xs: 0.875rem;
  --fs-s: 1rem;
  --fs-m: 1.125rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;
  --fs-h1: 2.5rem;
  --fs-h2: 1rem;
  --fs-h3: 2rem;
  --fs-h4: 2.1875rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.4375rem;

  /* Font weight */
  --fw-light: 400;
  --fw-medium: 700;
  --fw-bold: 900;

  /* Color */
  --color-pink: #f85e9f;
  --color-orange: #ff5722;
  --color-black: #191825;
  --color-yellow: #facd49;
  --color-white: #fff;
  --color-purple: #5d50c6;
  --color-grey-scale-black-50: rgba(25, 24, 37, 0.5);
  --color-grey-scale-black-75: rgba(25, 24, 37, 0.75);

  /* Line height */
  --lh-sm: 80%;
  --lh-md: 100%;
  --lh-lg: 120%;
  --lh-xl: 160%;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 1.4375rem;
    --fs-h3: 2.5rem;
    --fs-h5: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --fs-h1: 4.3125rem;
    --fs-h3: 2.75rem;
  }
}
