* {
  box-sizing: border-box;
}

body {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: var(--fw-medium);
  line-height: var(--lh-lg);
  color: var(--color-black);
  padding: 0px 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

p{
  font-family: "Inter";
  font-style: normal;
  color: var(--color-grey-scale-black);
}

img {
  max-width: 100%;
  height: auto;
}
