:root {
  --width-max: 1184px;

  /* Font size */
  --fs-xxs: 0.4375rem; /* 7px */
  --fs-xs: 0.875rem; /* 14px */
  --fs-s: 1rem; /* 16px */
  --fs-m: 1.125rem; /* 18px */
  --fs-l: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */

  /* Font weight */
  --fw-light: 400;
  --fw-medium: 700;
  --fw-bold: 900;

  /* Color */
  --color-pink: #f85e9f;
  --color-orange: #ff5722;
  --color-black: #191825;
  --color-yellow: #facd49;
  --color-white: #fff;
  --color-purple: #5d50c6;
  --color-grey-scale-black-50: rgba(25, 24, 37, 0.5);
  --color-grey-scale-black-75: rgba(25, 24, 37, 0.75);

  /* Line height */
  --lh-sm: 80%;
  --lh-md: 100%;
  --lh-lg: 120%;
  --lh-xl: 160%;
}
