.destination {
  width: 1184px;
  padding: 64px 0px;
  align-items: flex-start;
  gap: 64px;
}

.destination__container {
  align-items: center;
  align-self: stretch;
}

.destination__desc {
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

.destination-btn-group {
  align-items: flex-start;
  gap: 32px;
}

.btn-left {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: var(--color-white);
  align-items: center;
}

.btn-right {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: var(--color-purple);
  align-items: center;
}

.destination-list {
  gap: 32px;
  align-items: flex-start;
}

.destination-item {
  height: 575px;
  align-items: flex-start;
  flex: 1 0 0;
}

.destination-item-img {
  width: 374px;
  height: 350px;
}

.destination-item__desc {
  padding: 32px;
  gap: 32px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0px 0px 32px 32px;
  background: var(--color-white);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 32px 71px 0px rgba(0, 0, 0, 0.05), 0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 288px 173px 0px rgba(0, 0, 0, 0.03), 0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.item-content {
  gap: 16px;
}

.title-price__title {
  color: var(--color-black);
}

.item-content__location {
  color: rgba(25, 24, 37, 0.75);
}

.item-content__rate {
  align-items: center;
  gap: 8px;
}
