.subscribe {
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  width: 1184px;
  padding: 128px 64px;
  margin-top: 177px;
  align-items: flex-start;
  gap: 64px;
  border-radius: 32px;
  background: rgba(250, 205, 73, 0.08);
}

.subscribe-desc {
  align-items: center;
  gap: 32px;
}

.subscribe-desc__title {
  text-align: center;
  font-size: 55px;
}

.subscribe__form {
  display: flex;
  position: relative;
  align-items: center;
}

.email-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 32px;
}

.btn__subscribe {
  padding: 32px 64px;
  border-radius: 32px;
}

.input-text {
  width: 757px;
  height: 96px;
  border-radius: 32px;
  color: var(--color-back);
  border: 1px solid transparent;
  padding-left: 80px;
  margin-right: 64px;
}

.subscribe-graphic-tl {
  position: absolute;
  width: 184px;
  height: 177px;
  left: -35px;
  top: -70px;
}

.subscribe-graphic-br {
  width: 112px;
  height: 352px;
  position: absolute;
  right: -128px;
  bottom: -220px;
}
