.testimonials {
  width: 1440px;
  gap: 56px;
  margin: 0;
  margin-top: 12px;
  background-image: url(../images/background.png);
  background-size: 100% 100%;
}

.testimonials > .container {
  align-items: center;
  margin: 0 128px;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.testimonials-content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.testimonials-rate {
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.testimonials-rate__paragraph {
  color: var(--color-black);
  text-align: center;
  font-size: 28px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.testimonials-text--highlight {
  font-size: 28px;
}

.star-grp {
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.testimonials-paragraph {
  color: rgba(25, 24, 37, 0.75);
  text-align: center;
  font-size: 23px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  line-height: 160%;
}

.testimonials-btn-group {
  align-items: flex-start;
  gap: 24px;
}

.testimonials-btn {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.btn--grey {
  background: rgba(25, 24, 37, 0.05);
}

.btn--pink {
  background: var(--color-pink);
}

.testimonial-ellipse-img {
  width: 128px;
  height: 128px;
}

.yellow-star-icon {
  width: 32px;
  height: 32px;
}
