.travel-point {
  width: 1312px;
  padding: 64px 0px;
  margin: 0;
  margin-right: 128px;
  align-items: flex-end;
}

.travel-point__img {
  height: 697px;
  width: 871px;
}

.travel-point__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex: 1 0 0;
}

.travel-point-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.travel-point-desc__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.travel-point-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.travel-point-list__row {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.row-item {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  flex: 1 0 0;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: var(--color-white);
}

.row-item__quantity {
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
}

.row-item__paragraph {
  white-space: nowrap;
}

.btn__travel-point {
  position: absolute;
  z-index: 1;
  left: 1163px;
  top: 289px;
  height: 353px;
  width: 277px;
}
